{% extends 'base.html' %} {% block main %} 

{% if user and not user.is_anonymous %}
<div class=jumbotron>
    <h1 align='centered'>Hello, {{ user.get_full_name|default:user.username }}!</h1>
</div>
<div>
    <a href="{% url 'auth:logout' %}?next={{ request.path }}" class="btn btn-warning">
        Logout
    </a>
</div>

{% else %}
<div class=jumbotron>
    <h1 align="center">Adverts Home</h1>
</div>
<!-- Single button -->
<div class='wrapper text-center'>
    <div class="btn-group-vertical text-center btn-lg" role="group" >

        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btn btn-info" role="button">
            <i class="fa fa-facebook"></i> &nbsp;&nbsp;
            Login with Facebook
        </a>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-primary" role="button">
            <i class="fa fa-google"></i>&nbsp;&nbsp;&nbsp;
            Login with Google
        </a>
        <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-default" role="button">
            <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;
            Login with Twitter
        </a>
    </div>
</div>
{% endif %} 
{% endblock %}